.plano-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.st0 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: url(#SVGID_1_);
  stroke: #757575;
}

.st1 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #cccccc;
}

.st2 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: url(#SVGID_2_);
  stroke: #6aa228;
}

.st3 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: url(#SVGID_3_);
  stroke: #6aa228;
}

.st4 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: url(#SVGID_4_);
  stroke: #6aa228;
}

.st5 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: url(#SVGID_5_);
  stroke: #6aa228;
}

.st6 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: url(#SVGID_6_);
  stroke: #6aa228;
}

.st7 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: url(#SVGID_7_);
  stroke: #6aa228;
}

.st8 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: url(#SVGID_8_);
  stroke: #6aa228;
}

.st9 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: url(#SVGID_9_);
  stroke: #6aa228;
}

.st10 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: url(#SVGID_10_);
  stroke: #6aa228;
}

/************************************/
/*          PUESTO COLORES          */
/************************************/

/* .st11 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #5b5b5b;
  stroke: #3d3d3d;
} */

.st11 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #ccc;
  stroke: #ccc;
  cursor: pointer;
}

.st11-ocupado {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: red;
  stroke: red;
  cursor: pointer;
}

.ocupado {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: red;
  stroke: red;
  cursor: pointer;
}

.st11-pendiente {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: orange;
  stroke: orange;
}

.libre {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #ccc;
  stroke: #ccc;
  cursor: pointer;
}

/************************************/

.st12 {
  display: none;
}

.st13 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #7f7f7f;
  stroke: #3d3d3d;
}

.st14 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #3d3d3d;
  stroke: #5b5b5b;
}

.st15 {
  display: none;
  fill: #5b5b5b;
  stroke: #3d3d3d;
}

.st16 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #cccccc;
  stroke: #757575;
}

.st17 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #abd5f4;
  stroke: #265d99;
}

.st18 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #ffffff;
}

.st19 {
  fill: url(#SVGID_11_);
  stroke: #757575;
}

.st20 {
  fill: url(#SVGID_12_);
  stroke: #757575;
}

.st21 {
  fill: url(#SVGID_13_);
  stroke: #757575;
}

.st22 {
  fill: #989898;
}

.st23 {
  fill: #757575;
}

.st24 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: url(#SVGID_14_);
  stroke: #757575;
}

.st25 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: url(#SVGID_15_);
  stroke: #757575;
}

.st26 {
  fill: url(#SVGID_16_);
  stroke: #757575;
}

.st27 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: url(#SVGID_17_);
  stroke: #757575;
}

.st28 {
  fill: url(#SVGID_18_);
  stroke: #757575;
}

.st29 {
  fill: url(#SVGID_19_);
  stroke: #757575;
}

.st30 {
  fill: url(#SVGID_20_);
  stroke: #757575;
}

.st31 {
  fill: url(#SVGID_21_);
  stroke: #757575;
}

.st32 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: url(#SVGID_22_);
  stroke: #757575;
}

.st33 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: url(#SVGID_23_);
  stroke: #757575;
}

.st34 {
  fill: url(#SVGID_24_);
  stroke: #757575;
}

.st35 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: url(#SVGID_25_);
  stroke: #757575;
}

.st36 {
  fill: url(#SVGID_26_);
  stroke: #757575;
}

.st37 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #efbc7a;
  stroke: #993300;
}

.st38 {
  fill: none;
  stroke: #757575;
}

.st39 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #ffffff;
  stroke: #757575;
}

.st40 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: url(#SVGID_27_);
  stroke: #993300;
}

.st41 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: url(#SVGID_28_);
  stroke: #993300;
}

.st42 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: url(#SVGID_29_);
  stroke: #993300;
}

.st43 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: url(#SVGID_30_);
  stroke: #993300;
}

.st44 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: url(#SVGID_31_);
  stroke: #993300;
}

.st45 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: url(#SVGID_32_);
  stroke: #993300;
}

.st46 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: url(#SVGID_33_);
  stroke: #993300;
}

.st47 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #999999;
  stroke: #6d6d6d;
}

.st48 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #cccccc;
  stroke: #444444;
}

.st49 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #ededed;
  stroke: #444444;
}

.st50 {
  font-family: 'ArialMT';
}

.st51 {
  font-size: 20px;
}

.st52 {
  fill: #3d3d3d;
}
